.square-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.square-grid .square {
  width: 25%;
  height: 25%;
  background-color: #333;
  float: left;
  -webkit-animation: squareGridScaleDelay 1.5s infinite ease-in-out;
          animation: squareGridScaleDelay 1.5s infinite ease-in-out; 
}


.square-grid .square13 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }


.square-grid .square9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
          
.square-grid .square14 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
          
              
.square-grid .square5 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
          
.square-grid .square10 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
 
 .square-grid .square15 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
          
          
          
          
.square-grid .square1 {
  -webkit-animation-delay: 0.4;
          animation-delay: 0.4s; }  
          
.square-grid .square6 {
  -webkit-animation-delay: 0.4;
          animation-delay: 0.4s; }  
          
.square-grid .square11 {
  -webkit-animation-delay: 0.4;
          animation-delay: 0.4s; }  
                 
.square-grid .square16 {
  -webkit-animation-delay: 0.4;
          animation-delay: 0.4s; }         
          
          
          
.square-grid .square2 {
  -webkit-animation-delay: 0.5;
          animation-delay: 0.5s; }  
          
.square-grid .square7 {
  -webkit-animation-delay: 0.5;
          animation-delay: 0.5s; }  
          
.square-grid .square12 {
  -webkit-animation-delay: 0.5;
          animation-delay: 0.5s; }  
          
          
          
.square-grid .square3 {
  -webkit-animation-delay: 0.6;
          animation-delay: 0.6s; } 
           
.square-grid .square8 {
  -webkit-animation-delay: 0.6;
          animation-delay: 0.6s; }      
          
          
.square-grid .square4 {
  -webkit-animation-delay: 0.7;
          animation-delay: 0.7s; }  
          

          

@-webkit-keyframes squareGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 25% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes squareGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 25% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}